body {
  background-color: #606C38;
  padding: 50px;
  margin: 20px;
  font-family: "Work Sans", sans-serif;
}

/* SPRITES */
.sprite {
  background: url('pictures/generalpics.png') no-repeat;
  display: block;
}

.unplug {
  background-position: -264px -42px;
  width: 400px;
  height: 149px;
}

.walkingcycling {
  background-position: -256px -300px;
  width: 400px;
  height: 106px;
}

.five-r {
  background-position: -33px -300px;
  width: 200px;
  height: 98px;
}

.windsolar {
  background-position: -39px -42px;
  width: 400px;
  height: 126px;
}

.sprite2 {
  background: url('pictures/studentpics.png') no-repeat;
  display: block;
}

.socmed {
  background-position: -20px -50px;
  width: 216px;
  height: 144px;
}

.switch {
  background-position: -280px -50px;
  width: 193px;
  height: 144px;
}

.garden {
  background-position: -16px -263px;
  width: 229px;
  height: 153px;
}

.treeplant {
  background-position: -263px -263px;
  width: 226px;
  height: 151px;
}

.sprite3 {
  background: url('pictures/birdie.png') no-repeat;
  width: 150px;
  height: 170px;
  animation: fly 1s steps(3) infinite;
  border: solid #606C38;
}

@keyframes fly {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -600px;
  }
}

/* TEXT SELECTION */
::selection {
  background-color: #d8e2c4;
}

/* HEADERS */
h1, h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  color: #283618;
  transition: transform 0.3s ease-in-out;
  font-weight: 700;
}

h1:hover {
  transform: skewX(10deg);
}

h2 {
  color: #a3b18a;
}

h2:hover {
  transform: rotate(-1deg);
}

/* LOGO AND TITLE */
.logo, .title {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

/* NAVIGATION */
.navbar ul {
  list-style-type: none;
  background-color: #606C38;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar a {
  color: #283618;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
  display: block;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: #FEFAE0;
  transform: scale(1.25);
}

.navbar a:active {
  background-color: #FEFAE0;
  text-decoration: underline;
}

.navbar li {
  float: left;
}

/* LINKS */
a {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #a3b18a;
}

/* PARAGRAPHS */
p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #283618;
}

/* CONTAINER */
.container, .quiz-container {
  border-radius: 15px 50px 30px 5px;
  overflow: hidden;
  border: double 4px #a3b18a;
  margin: 20px 25px 10px 15px;
  padding: 20px;
  background-color: #FEFAE0;
}

.container img {
  float: left;
  width: 50%;
  height: auto;
  margin-right: 15px;
}

.container iframe {
  float: left;
  margin-right: 15px;
}

.container p {
  text-align: justify;
  overflow: hidden;
}

/* QUIZ BUTTONS */
#options-container button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4c4c2c;
  color: white;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

#options-container button.correct {
  background-color: green;
}

#options-container button.incorrect {
  background-color: red;
}

#next-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #6c6c3d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

/* FOOTER */
footer {
  margin-top: auto;
  text-align: center;
  width: 100%;
  padding: 10px;
}
